<% if(message != "") {  %>
  <section id="message">
      <p><%= message %></p> <span id="close">&times;</span>
  </section>
<% } %>
<header>
  <div id="header">
    <div>
      <a href="/">
       <img id="logo" src="/img/logo-pokemon.png" alt="Logo Pokémon" />
   </div>

   <nav class="versaopc">
      <a href="/" style="color:yellow">Home</a>
      <a href="/cadastro" style="color: yellow;"> cadastro</a>
   </nav>

</header>

